@media screen and (max-width: 375px) {
	.card {
		height: 70%;
	}
}
@media screen and (max-height: 650px) {
	body {
		height: 150vh;
	}
	.card {
		height: 40%;
	}
}
@media screen and (max-width: 600px) {
	:root {
		--fontSize: 10px;
	}
	.card {
		height: 80%;
		width: 90%;
		grid-template-columns: 100%;
		grid-template-rows: 30% auto;
	}
	img {
		grid-row: 1/2;
		grid-column: 1/2;
	}
	.wrapper {
		grid-row: 2/3;
		grid-column: 1/2;
		align-items: center;
		text-align: center;
		margin: 30px;
		/* height: auto; */
	}
	.wrapper section {
		margin-bottom: 20px;
	}
	.stats {
		flex-direction: column;
	}
	.stats section {
		margin-bottom: 20px;
		margin-bottom: 10px;
	}
}
@media (min-width: 600px) and (max-width: 1024px) {
	.card {
		height: 70%;
		width: 80%;
	}
	.wrapper {
		margin: 30px;
	}
}
@media screen and (min-width: 1024px) {
	/* :root {
		--fontSize: 10px;
	} */
	.card {
		height: 60%;
	}
	.wrapper {
		margin: 25px;
		justify-content: space-evenly;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.wrapper section {
		margin-bottom: 50px;
	}
	header {
		margin-bottom: 15px;
	}
	.stats {
		margin-top: 50px;
	}
	.stats section {
		margin: auto 30px;
	}
}
